.Order{
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 11px;
}
.Btn{
    margin: 10px;

}
.Btn-delete{
    background: #000;
    color: #fff;
    cursor: pointer;
    border: #000;
}
