.Form {
     text-align: center;
     display: inline-block;

 }
.Add{
    display: inline-block;
    margin: 10px;
}

.Okay{
    width: 150px;
    text-transform: uppercase;
    font-size: 17px;
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(211,87,42,1) 36%,rgba(198,42,31,1) 75%,rgba(165,13,0,1) 99%);    border: 1px solid;
    border-radius: 35px;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
}
.Okay:hover{
    background: linear-gradient(to bottom, rgba(165,13,0,1) 1%,rgba(198,42,31,1) 25%,rgba(211,87,42,1) 64%,rgba(255,0,0,1) 100%);
}