.AddItems {
    width: 30%;
    margin: auto;
    min-height: 400px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    vertical-align: text-top;
    display: inline-block;
    border-left: 2px solid #ccc;
}
.orderDetails{
    width: 30%;
    text-align: center;
    font-weight: bold;
    vertical-align: text-top;
    display: inline-block;
    margin: auto 40px;
}
.total{
    border-top: 2px solid #000;
}
